.vs/LeetCode/v15/
*/obj/*
*/bin/
.vs/
Easy/SummaryRanges/obj/
Easy/SummaryRanges/bin/
Easy/CoveredIntegers/obj/
Easy/CoveredIntegers/bin/
Medium/ElementalWords/bin/
Medium/ElementalWords/obj/
Codewars/MatrixAddition/obj/
Codewars/MatrixAddition/bin/
Codewars/DirectionsReduction/obj/
Codewars/DirectionsReduction/bin/
.idea/
Codewars/4 kyu/ElementalWords/obj/
LeetCode/Easy/SummaryRanges/obj/
LeetCode/Easy/CoveredIntegers/obj/
Codewars/MissingKeyMadness/bin/
Codewars/MissingKeyMadness/obj/
LeetCode/Easy/CoveredIntegers/bin/
Codewars/LastDigitSymmetry/bin/
Codewars/LastDigitSymmetry/obj/
Codewars/MaximumSubarraySum/bin/
Codewars/MaximumSubarraySum/obj/
Codewars/MovingZeroesToEnd/obj/
Codewars/MovingZeroesToEnd/bin/
Codewars/OperationsOnSequences/bin/
Codewars/OperationsOnSequences/obj/
Codewars/FirstVariationOnCaesarCipher/bin/
Codewars/FirstVariationOnCaesarCipher/obj/
Codewars/HungerGames/bin/
Codewars/HungerGames/obj/
Codewars/DotsAndBoxesValidator/bin/
Codewars/DotsAndBoxesValidator/obj/
LeetCode/Easy/SummaryRanges/bin/
Codewars/4 kyu/ElementalWords/bin/
